html {
  box-sizing: border-box;
  font-family: "Georgia", serif;
  line-height: 1.5;
  background-color: #f5f2f0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, {
  font-family: "Denk One";
  color: #623b0c;
}

img {
  width: 100%;
  margin: 0.5rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header h1 {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "banner banner"
  "col1 col2";
}
